body {
  margin: 0;
  background-color: #343a40;
  text-align: center;
  padding: 1.2rem;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


h1 {
  font-family: "Codystar", sans-serif;
  font-size: 3.5rem;
  color: rgb(219, 210, 210);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-container .add-task-wrapper {
  position: absolute;
  right: 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

table td {
  padding: 0.5rem;
  border: 1px solid #343a40;
  color: #816d5f;
  font-size: 1.5rem;
  text-align: left;
}

table th {
  text-align: left;
  font-size: 1.5rem;
}

table button {
  background-color: #343a40;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;

}

.add-btn {
  background-color: #343a40;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}



.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 300px;
}

.add-form input,
.add-form select,
.add-form button {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;

}

.add-form button {
  color: #f44336;
  width: 45%;

}

.add-form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.no-tasks {
  font-size: 1.5rem;
}

.edit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.edit-input,
.edit-select {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}